<h2>Google Picker API</h2>
<table class="imagetable">
  <tbody >
    <tr id="header">
      <th style="font-size:18px;">Google Drive</th>
    </tr>
    <tr>
      <!-- <td style="font-size:16px;"><a   href="#" id="AllFilePick">All Drive items.</a  ></td> -->
      <button id="AllFilePick">All Drive items.</button  >
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
